---
layout: "default"
title: "About Us"
pageOrder: 2
---

h3 About Us
hr

div: :markdown
	Open Business Solutions is a Singapore-based provider of Process Management Software Systems.

	We cater customisable software solutions to a range of retail, distribution and manufacturing organisations.

	Our company mission is to provide our customers with personalised management systems that increase process efficiencies without being complex and difficult to adopt as our unique one-click-system keeps operations simple and effective for everyday usability.

	(Call or send us an email for an appointment or any product enquiries)

	---

	####Contact Information

	_Office_	: 3 Irving Road, #06-08 Irving Industrial Building, Singapore 369522

	_Phone_	: +65 61001545  (Office hours: Mon - Fri / 10:00am - 5:00pm SGT)

	_Email_ 	: sales@openbusiness.com.SGT