---
layout: "default"
title: "Features"
pageOrder: 1
---

h3 DISTRIBUTION MANAGEMENT SYSTEM
hr

div.panel.panel-default
	div.panel-heading
		h4.panel-title Inventory Management
	div.panel-body
		div: :markdown
			The Open Business system links sales and purchasing together with your inventory so that stock numbers are automatically managed.

			Whenever operations increase or reduce the stock count, it is automatically accounted for.

			- Stocktaking becomes faster, easier and more reliable.
			- Real time delivery of stock information means quicker order processing.

div.panel.panel-default
	div.panel-heading
		h4.panel-title Customer Management
	div.panel-body
		div: :markdown
			The Open Business system centrally records and maintains customer information so that it can be easily retrieved. Knowledge of the way customers work is a key theme of managing customer relationships.
			
			- Create accurate customer profiles that can be effective tools for understanding their needs and predicting their purchasing behaviour.
			- Retain information gathered by employees when they leave the firm.

div.panel.panel-default
	div.panel-heading
		h4.panel-title Business Process Management
	div.panel-body
		div: :markdown
			The Open Business system is displayed as a Kanban board, which shows the flow of all business processes being carried out. Monitoring can now be done from a centralized location, which facilitates process measurement & streamlining.
			
			- Increase process efficiency and improve labor productivity.
			- Provide company transparency and insight into performance of each task.

div.panel.panel-default
	div.panel-heading
		h4.panel-title Workplace Mobility
	div.panel-body
		div: :markdown
			The Open Business system is cloud-based and integrated online so it can be accessed from anywhere with a working internet connection.
			
			This means that everyday processes can be actively monitored inside AND outside the office.

div.panel.panel-default
	div.panel-heading
		h4.panel-title Customisability
	div.panel-body
		div: :markdown
			The Open Business system is fully customizable to your current way of operations because it is integrated using your pre-existing company forms. 
			Think of it as replicating your current manual documents electronically.
			
			Our one-click system also makes “learning the ropes” to the software far less confusing.

div.panel.panel-default
	div.panel-heading
		h4.panel-title Customisability
	div.panel-body
		div: :markdown
			- Initial PIC grant covers 70% of purchase.
			- ISPRINT grant covers 60%-70% of the remaining 30%.

div.alert.alert-info: :markdown
	Lowers acquisition cost of the Open Business system to $2,400.
	
	*1ST 20 CUSTOMERS RECEIVE FREE IT HARDWARE PACKAGE WORTH $2,400 FOR USE WITH THE OPEN BUSINESS PLATFORM.