div: :markdown
	The Open Business system is displayed as a Kanban board, which shows the flow of all business processes being carried out. Monitoring can now be done from a centralized location, which facilitates process measurement & streamlining.
	
	- Increase process efficiency and improve labor productivity.
	- Provide company transparency and insight into performance of each task.