div: :markdown
	The Open Business system is fully customizable to your current way of operations because it is integrated using your pre-existing company forms. 
	Think of it as replicating your current manual documents electronically.
	
	Our one-click system also makes “learning the ropes” to the software far less confusing.