div: :markdown
	The Open Business system centrally records and maintains customer information so that it can be easily retrieved. Knowledge of the way customers work is a key theme of managing customer relationships.
	
	- Create accurate customer profiles that can be effective tools for understanding their needs and predicting their purchasing behaviour.
	- Retain information gathered by employees when they leave the firm.