div: :markdown
	The Open Business system links sales and purchasing together with your inventory so that stock numbers are automatically managed.

	Whenever operations increase or reduce the stock count, it is automatically accounted for.

	- Stocktaking becomes faster, easier and more reliable.
	- Real time delivery of stock information means quicker order processing.