div: :markdown
	The Open Business system automates the sales & purchasing processes. Once the order data is entered, the software handles the rest of the order processing. There is no need to re-process order details at each stage in the order process.

	- Facilitate automated Just-in-Time delivery processing.
	- Monitor orders at each stage of the process to show weak links in the order management chain.
	- Sales report generation becomes more reliable, and no longer a hassle.