div: :markdown
	The Open Business system is cloud-based and integrated online so it can be accessed from anywhere with a working internet connection.
	
	This means that everyday processes can be actively monitored inside AND outside the office.